#top-logo {
	display:block;
	text-align: center;
}
.page-heading {
	display: none;
}
h2 {
	text-align: center;
	padding-bottom: 1em;
}
.station-logo {
	margin:auto;
}
.station-logo img {
	width: 100%;
}
.contrib-logo {
	width: 100px;
}
.station-logos .col-sm {
	display:grid;
}
.contributor-entry {
	padding-bottom: 2em;
}