#top-logo {
	display:block;
	text-align: center;
}
#top-logo img {
	width: 100%;
}
.page-heading {
	display: none;
}
h2 {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}
.station-logo {
	margin:auto;
}
.station-logo-small img {
	width: 50%;
	padding-bottom: 1em;
}
.station-logo img {
	width: 100%;
}
.contrib-logo {
	width: 100px;
	height: 100%;
	margin: auto;
}
.station-logos .col-sm {
	display:grid;
}
.contributor-entry {
	padding-bottom: 2em;
}
#listen-sidebar {
	margin-top: 1em;
}
#listen-sidebar .card-body {
		text-align: center;
}
#details-content {
	margin-top: 1em;
}
#contrib-details-panel {
	background: rgba(0,0,0,.03);
	max-width: 300px;
}